<br> 
    
    
<footer class="footer">
    <div class="footer-socials"></div>
    
    <div class="footer-bottom"><br>
        <br>
        <br>
        Copyright 2019. All rights reserved.<br />
    Web Design by <a href="https://www.linkedin.com/in/bello-mustapha-a7a030170">Almustapha</a></div>
    </footer>
    <!-- Bootstrap core JavaScript
    ===== --><!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script><script src="js/bootstrap.min.js"></script><script src="js/jquery.bxslider.js"></script><script src="js/mooz.scripts.min.js"></script></body>




</body>
</html>