
<html lang="en">
    <head>
        <title>Book Review</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/0ebfaa092e.js" crossorigin="anonymous"></script>

        
    </head>

<div class="container">
    <div class="row">
            
            <div style="width:30%; margin:100px auto ">
                <h3>Add a New Comment to <%= new_book.title %> </h3>
                <form action="/books/<%= new_book._id %>/comments" method="POST">
                    <!-- <div class="form-group"> <input class="form-control" type="text" name="comment[text]" placeholder="text"> </div> -->



                    <h1>RICH TEXT EDITOR</h1>
                    
                    <body onload="enableEditMode();">
                    
                        <div>
                                <button onclick="execCmd('bold');" ><i class="fa fa-bold"></i></button>
                                <button onclick="execCmd('italic');" ><i class="fa fa-italic"></i></button>
                                <button onclick="execCmd('underline');" ><i class="fa fa-underline"></i></button>
                                <button onclick="execCmd('strikeThrough');" ><i class="fa fa-strikethrough"></i></button>
                                <button onclick="execCmd('justifyRight');" ><i class="fa fa-align-right"></i></button>
                                <button onclick="execCmd('justifyCenter');" ><i class="fa fa-align-center"></i></button>
                                <button onclick="execCmd('justifyLeft');" ><i class="fa fa-align-left"></i></button>
                                <button onclick="execCmd('justiftyFull');" ><i class="fa fa-align-justify"></i></button>
                                <button onclick="execCmd('cut');" ><i class="fa fa-cut"></i></button>
                                <button onclick="execCmd('copy');" ><i class="fa fa-copy"></i></button>
                                <button onclick="execCmd('indent');" ><i class="fa fa-indent"></i></button>
                                <button onclick="execCmd('outdent');" ><i class="fa fa-dedent"></i></button>
                                <button onclick="execCmd('subscript');" ><i class="fa fa-subscript"></i></button>
                                <button onclick="execCmd('superscript');" ><i class="fa fa-superscript"></i></button>
                                <button onclick="execCmd('undo');" ><i class="fa fa-undo"></i></button>
                                <button onclick="execCmd('redo');" ><i class="fa fa-repeat"></i></button>
                                <button onclick="execCmd('insertUnorderedList');" ><i class="fa fa-list-ul"></i></button>
                                <button onclick="execCmd('insertOrderedList');" ><i class="fa fa-list-ol"></i></button>
                                <button onclick="execCmd('insertParagraph');" ><i class="fa fa-paragraph"></i></button>
                                <select onchange="execCommandWithArg('formatBlock', this.value);">
                                    <option value="H1">H1</option>
                                    <option value="H2">H2</option>
                                    <option value="H3">H3</option>
                                    <option value="H4">H4</option>
                                    <option value="H5">H5</option>
                                    <option value="H6">H6</option>
                                </select>
                                <button onclick="execCmd('insertHorizontalRule');" >HR</button>
                                <button onclick="execCommandWithArg('createList', prompt('Enter a URL', 'http://'));"><i class="fa fa-link"></i></button>
                                <button onclick="execCmd('unlink');" ><i class="fa fa-unlink"></i></button>
                                <button onclick="toggleSource();");" ><i class="fa fa-code"></i></button>
                                <button onclick="toggleEdit();" >Toggle Edit</button>
                                <br>
                                <select onchange="execCommandWithArg('fontName', this.value);">
                                    <option value="Arial">Arial</option>
                                    <option value="Comic Sans MS">Comic Sans MS</option>
                                    <option value="Courier">Courier</option>
                                    <option value="Georgia">Georgia</option>
                                    <option value="Tahoma">Tahoma</option>
                                    <option value="Times New Roman">Times New Roman</option>
                                    <option value="Verdana">Verdana</option>
                                </select>
                                <select onchange="execCommandWithArg('fontSize', this.value);">
                                    <option value="1">1</option>
                                    <option value=2"">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                </select>
                                Fore Color: <input type="color" onchange="execCommandWithArg('foreColor', this.value);" />
                                Background: <input type="color" onchange="execCommandWithArg('hiliteColor', this.value);"  />
                                <button onclick="execCmd('insertImage', prompt('Enter the image URL', ''));" ><i class="fa fa-file-image-o"></i></button>
                                <button onclick="execCmd('selectAll');" >Select All</button>
                        </div>

                        <div  class="form-group" >

                         <iframe  class="form-control" type="text" name="text" style="width: 1000px; height:500px;" frameborder="50px" placeholder="text goes here"></iframe>

                        </div>
                    
                        <script type="text/javascript">
                    
                           var showingSourceCode = false;
                           var isInEditMode = true;
                    
                           function enableEditMode (){
                               text.document.designMode = 'on';
                           }
                           function execCmd (command){
                               text.document.execCommand(command, false, null);
                           }
                           function execCommandWithArg (command, arg){
                            text.document.execCommand(command, false, arg);
                           }
                           function toggleSource (){
                               if(showingSourceCode){
                                   text.document.getElementsByTagName('body')[0].innerHTML = text.document.getElementsByTagName('body')[0].
                                          textContent;
                                   showingSourceCode= false;
                               } else {
                                text.document.getElementsByTagName('body')[0].textContent = text.document.getElementsByTagName('body')[0].
                                    innerHTML;
                                showingSourceCode = true;
                               }
                           }
                           function toggleEdit  (){
                               if(isInEditMode){
                                   text.document.designMode = 'off';
                                   isInEditMode = false;
                               }else{
                                text.document.designMode = 'on';
                                isInEditMode = true;
                               }
                           }
                        </script>
                        
                    </body>
                    
                    
                    


                    <div class="form-group"> <button class="btn btn-lg btn-primary btn-block">Submit!</button> </div>
    
                </form>   
                <a href="/books">Go Back</a>
            </div>
    
    </div>
 </div>

