    <% include partials/header %>
        <header class="jumbotron">
                <div class="container"> 
                <h1>Welcome to Book Review</h1>
                <p>Cherrypick on one of our amazing stack of books and live diffrently for aye</p>
                <a class="btn btn-primary btn-large" href="/books">View All Books</a>
                </div>
            </header>
    </body>
<% include partials/footer %>